* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* navbar */

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    height: 60px;
    padding: 0 1.5rem;
}

.nav-links {
    display: flex;
    height: 100%;
    list-style: none;
}

.nav-links li {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #555;
    color: white;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
    background: none;
    border: none;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #555;
    color: white;
}

.nav-button:focus {
    outline: none;
}

.nav-links li {
    display: flex;
    align-items: center;
}

/* main content */

main {
    flex: auto;
}

hr {
    width: 50%;
    text-align: left;
    margin-left: 0
}

.headshot {
    margin: 1rem 2rem 1rem 1rem;
    max-width: 30vw;
    display: block;
    flex-shrink: 0;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

.main-text {
    margin: 0.5rem;
    padding: 1rem;
    flex: 1;
    min-width: 300px;
}

.blog {
    margin: 0.5rem;
    padding: 1rem;
}

/* footer */

footer {
    background-color: lightgray;
    margin-top: 10vh;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}

.projects {
    margin: 0.5rem;
    padding: 1rem;
}